.h-90 {
    height: 90% !important;
}

.w-3rem {
    width: 3rem !important;
}

.w-35 {
    width: 35% !important;
}

.w-65 {
    width: 65% !important;
}

.w-90 {
    width: 90% !important;
}

.position-fixed-left {
    position: fixed !important;
    left: 0.6rem !important;
    top: 8% !important;
}

.position-fixed-right {
    position: fixed !important;
    right:0.6rem !important;
    top: 8% !important;

}

.mh-90 {
    max-height: 90% !important;
}

body {
    background-color:rgb(41, 43, 44);
}
